<div class="container">
    <h1>Eat-Da-Burger!</h1>

    <div class="image">
        <img src="/img/hamburger.png">
    </div>
<!--Data passed in from server.js-->
    <div class="container">
        <div class="row">
            <div class="column">
                <h2>Burgers To Eat</h2>
                <ol>
                    {{#each burgers}}
                    {{#unless devoured}}
                    {{>burgers/burger-block devoured=false}}
                    {{/unless}}
                    {{/each}}
                </ol>
            </div>

            <div class="col">
                <h2>Devoured Burgers</h2>
                <ol>
                    {{#each burgers}}
                    {{#if devoured}}
                    {{>burgers/burger-block devoured=true}}
                    {{/if}}
                    {{/each}}
                </ol>
            </div>
        </div>
    </div>
    
    <div class="container">
        <div class="row">
            <div class="column">
                <form class="create-form">
                    <div class="form-group">
                        <input class="form-control" type="text" id="input" name="name" placeholder="Enter a Burger to Eat">
                    </div>
                    <button type="submit" class="btn btn-primary">Submit</button>
                </form>
            </div>
        </div>
    </div>
</div>